.container{
  margin: 0px 25px;
}

#productsDisplay{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.product{
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  height: 150px;

  background-repeat: no-repeat;
  background-size: cover;
}
.product.productName{
  align-self: flex-start;
}
