/*NAV*/
nav{
  margin: 0 25px;
}
nav > ul{
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
nav > ul > li > a{
  text-decoration: none;
  color: black;
}


/*MAIN*/
.container{
  /*margin: 0 25px;*/
}

#productsDisplay{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: auto;
}
.product{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  height: 300px;
}

.productImage{
  height: 150px;
}



/*CART*/
#cart{
  display: flex;
  flex-flow: column wrap;
  margin: 0 15px;
}
.cartDivider{width: 100%}

.productHeader > div{
  font-weight: bold;
}

.cartProduct{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;

  height: 30px;
  margin: 0 5px;
}

.productActions{
  display: flex;

}


/*CHECKOUT*/
#checkOut > form{
  display: flex;
  flex-flow: column nowrap;
  max-width: 400px;
  margin: auto;
}
