/*NAV*/
nav{
  margin: 0px 25px;
}
nav > ul{
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
nav > ul > li > a{
  text-decoration: none;
  color: black;
}


/*MAIN*/
.container{
  margin: 0px 25px;
}

#productsDisplay{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: auto;
}
.product{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  height: 300px;
}

.productName{
  text-decoration: none;
}
.productImage{
  height: 150px;
}
.productPrice{
  width: 100%;
}



/*CART*/
.cartDisplay{

}
.cartList{
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
}
.cartProduct, .cartProductHeader{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  height: 40px;
  align-items: center
}


.cartProductName, .cartProductNameHeader, .cartProductTotalSpacer{
  width: 400px;
}
.cartProductPrice, .cartProductPriceHeader, .cartProductTotalPrice{
  width: 120px;
  text-align: start;
}
.cartProductRemove, .cartProductRemoveHeader, .cartProductRemoveAll{
  width: 100px;
  text-align: end;
}
.cartProductRemoveAll{
  color: red;
}

.cartProductNameHeader,
.cartProductPriceHeader,
.cartProductRemoveHeader,
.cartProductTotalPrice,
.cartProductRemoveAll{
  font-weight: bold;
}
