@model List<ProductViewModel>

<ul>
    @if (Model != null)
    {
        foreach (var product in Model)
         {
             <li>@(product.Name) | $@(product.Price)</li>
         }
    }

</ul>
