@model Webshop.Core.Models.OrderModel

@{
    decimal totalPrice = 0;
}

<div class="card mb-3 pt-3 col-12 col-sm-8 col-md-5 col-lg-4 col-xl-3">
    <div class="card-body">
        <h4 class="card-title">Thanks for your order!</h4>
        <p class="card-text"><b>Email:</b> @Model.Email</p>
        <p class="card-text"><b>Shipping address:</b></p>
        <p class="card-text">@Model.Address</p>
        <p class="card-text"><b>Total:</b> $@Model.Total</p>
    </div>
</div>
