@model List<ProductViewModel>

@{
    ViewData["Title"] = "Webshop Home";
}


<div id="productsDisplay">
    @foreach (var product in Model)
    {
        <div class="product" data-productid="@product.Id" >
            <a class="productName" href="/Shop/Product/@product.Id">
                @product.Name
            </a>

            <img class="productImage" src="/../images/@(product.Id).jpg" alt="product image">

            @using (Html.BeginForm("AddToCart", "Shop"))
            {
                @Html.Hidden("productId", product.Id)
                <input class="productPrice" type="submit" value="$@product.Price" data-productprice="$@product.Price">
            }
        </div>
    }
</div>
