@model List<ProductViewModel>

@{
    ViewData["Title"] = "Webshop Home";
}

<div id="productsDisplay">
    @foreach (var product in Model)
    {
        <div class="product" data-productId="@product.Id">
            <div class="productName">
                @product.Name
            </div>
            <div class="productDescription">
                @product.Description
            </div>
            <div class="productPrice">
                $@product.Price
            </div>
            <div class="productImage" style="background-image: url('/../images/@product.Id\.jpg')"></div>
        </div>
    }
</div>
