@model Webshop.Core.Models.ProductModel

<div class="product" data-productid="@Model.Id">
    <h2 class="productName">
        @Model.Name
    </h2>

    <p class="productDescription">
        @Model.Description
    </p>

    <img class="productImage" src="/../images/@(Model.Id).jpg" alt="product image">

    @using (Html.BeginForm("AddToCart", "Shop"))
    {
        @Html.Hidden("productId", Model.Id)
        <input class="productPrice" type="submit" value="$@Model.Price" data-productprice="$@Model.Price">
    }
</div>
