@model ProductViewModel

<div class="product" data-productid="@Model.Id">
    <h2 class="productName">
        @Model.Name
    </h2>

    <p class="productDescription">
        @Model.Description
    </p>

    <img class="productImage" src="/../images/@(Model.Id).jpg" alt="product image">

    <input class="productPrice" type="button" value="$@Model.Price" data-productprice="$@Model.Price"
           onclick="location.href='@Url.Action("AddToCart", "Shop")'">
</div>
